
.header-banner{
  background-image: url(./images/Object.png);
  padding-top: 30px; 
  padding-bottom: 50px;
}
nav{
  display: flex;
  justify-content: space-between;
}
.menu{
  display: flex;
  margin-right: 10%;
  gap: 40px;
}
ul{
  list-style: none;
}
li a{
  text-decoration: none;
  color: white;
}
.logo{
    margin-left: 10%;
    width: 167.02px;
    height: 29.46px;
    margin-top: 10px;
 }

 .div-one-h1{
  display: flex; 
  justify-content: center;
  margin-top: 5%;
}
 .div-one-span{
  display: flex; 
  justify-content: center;
  margin-top: -110px;
}
 .get-schooled{
    
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    color: #FFFFFF;
    
    }
.span{
  font-family: 'Source Sans Pro';
  color: white;
  margin-right: 25px;
}
.register-button{
    width: 162px;
    height: 44px;
    background: #C271FF;
    border: none;
    margin-top: 35px;
    border-radius: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-bottom: 100px;

    }

.learn-from{
    display: flex;
    justify-content: center;
    color: white;
    margin-left: -80px;
}
.learn{
  color: #C271FF;
}

.images-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.Avatar{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.Avatar-name{
    font-family: 'Source Sans Pro';
    color: white;
    font-weight: 900;
}

.Avatar-smile{  
    font-family: 'Source Sans Pro';
    color: white;
    font-weight: 400;
    font-style: italic;
}

.testimonial{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 392px;
  background-color: #C271FF;
  color: #FFFFFF;
}

.Person{margin-left: 40px;}
.person-name{
  font-family: 'Source Sans Pro';
  font-size: 22px;
}
.person-weather{
  font-family: 'Source Sans Pro';
  font-size: 22px;
  font-weight: 400;
  font-style: italic;
}
.tutorials{
  font-family: Source Sans Pro;
  font-size: 22px;
  font-weight: 400;
}

.popular-tutorials{
  display: flex; 
  justify-content: space-around;
  gap: 20px;
}
.author{
  width: 30px;
  height:30px;
  border: 50%;
}
.author-name{
  margin-top: 5px;
}
.flex-box{
  display: flex; 
  gap: 10px;
}
.icon-color{
  color: #C271FF;
}
.video-description{
  font-family: 'Source Sans Pro';
  font-weight: 400;
  color: #07162980;
  width:255px;

}
.section-title{
  display: flex;
  justify-content: center;
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-size: 32px;
}
.scale-time{
  display: flex;
  justify-content: space-between;
}
.duration{
  margin-top: 0;
  color: #C271FF;
}

.membership{
  background-color: #071629;
  padding-top:30px;
  padding-bottom: 20px;
  height: 502px;
}
.justify-center{
  display: flex;
  justify-content: center;
}
.membership p{
  color: #FFFFFF;
  line-height: 1.5;
}
.text-white{
  color: #FFFFFF;
}

.faq{
  margin-top: 30px;
  color: #07162980;
  
}
.space-around{
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.footer-content{
  display: flex;
  justify-content: space-around;
  padding-top: 8%;
}

footer{
  margin-top: 30px;
  background-color: #071629;
  height: 249px;
  padding-bottom: 25px;
}
.copyright{
  margin-top: 50px;
}
.social-media{
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 50%;
}


























